<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="renderer" content="webkit">
		<title></title>
		<link rel="stylesheet" href="/stylesheets/pintuer.css">
		<link rel="stylesheet" href="/stylesheets/admin.css">
		<script src="/javascripts/jquery-1.11.0.js"></script>
		<script src="/javascripts/pintuer.js"></script>
		<style type="text/css">
			.search li button {
				margin-right: 10px;
			}
		</style>
	</head>

	<body>
		<form>
			<div class="panel admin-panel">
				<div class="panel-head"><strong class="icon-reorder"> 学生列表</strong></div>
				<div class="padding border-bottom">
					<ul class="search">
						<li>
							<button type="button" class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
							<button type="button" class="button border-red"><span class="icon-trash-o"></span> 删除</button>
							<button type="button" class="button border-blue" onclick="location.href='/addStu'"><span class="icon-plus-square-o"></span> 添加学生</button>
						</li>
					</ul>
				</div>
				<table class="table table-hover text-center">
					<tr>
						<th width="120">序号</th>
						<th>学号</th>
						<th>姓名</th>
						<th>电话</th>
						<th>邮箱</th>
						<th>专业</th>
						<th width="25%">地址</th>
						<th>操作</th>
					</tr>
					<% for(var i in result){ %>
					<tr>
						<td><input type="checkbox" name='id[]' />
							<%- Number(i)+1 %>
						</td>
						<td class="stuID">
							<a href="/stuDetail?id=<%- result[i].id %>">
								<%- result[i].stuID %>
							</a>
						</td>
						<td>
							<a href="/stuDetail?id=<%- result[i].id %>">
								<%- result[i].stuName %>
							</a>
						</td>
						<td>
							<%- result[i].stuTel %>
						</td>
						<td>
							<%- result[i].stuEmail %>
						</td>
						<td>
							<%- result[i].stuSpe %>
						</td>
						<td>
							<%- result[i].stuAddress %>
						</td>
						<td>
							<div class="button-group">
								<a class="button border-yellow" href="/change?id=<%- result[i].id %>"><span class="icon-edit"></span> 修改</a>
							</div>
						</td>
					</tr>
					<% } %>
					<tr>
						<td colspan="8">
							<div class="pagelist">
								<a href="/stuList?pageNo=1">首页</a>
								<a href="/stuList?pageNo=<%- pageNo<=1?1:pageNo-1 %>">上一页</a>
								<% for(var i=0;i<count;i++){ %>
								<a href="/stuList?pageNo=<%- Number(i)+1 %>">
									<%- Number(i)+1 %>
								</a>
								<% } %>
								<a href="/stuList?pageNo=<%- pageNo>=count?count:Number(pageNo)+1 %>">下一页</a>
								<a href="/stuList?pageNo=<%- count %>">尾页</a>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</form>
		<script type="text/javascript">
			//全选按钮
			$("#checkall").click(function() {
				$(this).toggleClass("flag");
				if($(this).hasClass("flag")) {
					$("input[name='id[]']").prop("checked", true);
				} else {
					$("input[name='id[]']").prop("checked", false);
				}
			})
			$("input[name='id[]']").click(function() {
				if($("input[name='id[]']:checked").length == $("input[name='id[]']").length) {
					$("#checkall").addClass("flag");
				} else {
					$("#checkall").removeClass("flag");
				}
			})

			//删除学生
			$(".border-red").click(function() {
				if($("input[name='id[]']:checked").length == 0) {
					alert("请选择要删除的学生");
				} else {
					var arr = [];
					$("input[name='id[]']:checked").each(function() {
						arr.push($(this).parent().siblings(".stuID").text());
					})
					$.ajax({
						type: "post",
						url: "/users/delStu",
						async: true,
						data: { delStu: JSON.stringify(arr) },
						success: function(data) {
							if(data == 1) {
								alert("删除成功");
								location.reload();
							}
						}
					});
				}
			})

			//翻页样式
			$(".pagelist").on("click", "a", function() {
				$(this).addClass("active").siblings().removeClass("active");
			})
		</script>
	</body>

</html>